# {{ ansible_managed }}
allow unknown-clients;
default-lease-time 1800;
max-lease-time 7200;
option arch code 93 = unsigned integer 16; # RFC4578
set pxetype = option arch;

subnet {{pxeserver_config.subnet}} netmask {{pxeserver_config.netmask}} {
  range {{pxeserver_config.range_from}} {{pxeserver_config.range_to}};
  option broadcast-address {{pxeserver_config.broadcast_address}};
  option domain-name-servers {{ pxeserver_ip }};
  option domain-name  {{ pxeserver_config.domain }};
  default-lease-time {{ pxeserver_config.default_lease_time }};
  max-lease-time {{pxeserver_config.max_lease_time}};
  option netbios-name-servers {{ pxeserver_ip }};
  option routers {{ pxeserver_ip }};


class "pxeclients" {
  match if substring (option vendor-class-identifier, 0, 9) = "PXEClient";
  next-server {{ pxeserver_ip }};

  if option arch = 00:07 {
    filename "pxelinux/bootx64.efi";
  } else if option arch = 00:06 {
    filename "pxelinux/bootia32.efi";
  } else {
    filename "pxelinux/pxelinux.0";
  }
}
}

